# Exercícios - Salarios de São Francisco

Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo.

** Importe o pandas como pd.**

In [2]:
import pandas as pd

** Leia o arquivo Salaries.csv como um DataFrame chamado "sal". **

In [3]:
sal = pd.read_csv('Salaries.csv')

** Verifique o "head" do DataFrame. **

In [4]:
print(sal.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

** Use o método .info () para descobrir quantas entradas existem. **

In [6]:
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

** Qual é o "BasePay" médio? **

In [8]:
media = sal['BasePay'].mean()
print(media)

66325.4488404877

** Qual é a maior quantidade de "OvertimePay" no conjunto de dados? **

In [9]:
maxV = sal['OvertimePay'].max()
print(maxV)

245131.88

** Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas). **

In [10]:
linha = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
emp = linha['JobTitle']
print(emp)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)? **

In [11]:
gan = linha['TotalPayBenefits']
print(gan)

24    270324.91
Name: TotalPayBenefits, dtype: float64

** Qual o nome da pessoa mais bem paga (incluindo benefícios)? **

In [21]:
idM = sal['TotalPayBenefits'].idxmax(skipna=True)
linhaM = sal.loc[idM]

print(f"Empregado:{linhaM['EmployeeName']} | Salário:{linhaM['TotalPayBenefits']}")

Empregado:NATHANIEL FORD | Salário:567595.43

** Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga? **

In [31]:
idM = sal['TotalPayBenefits'].idxmin(skipna=True)
linhaM = sal.loc[idM]

print(f"Empregado:{linhaM['EmployeeName']} | Salário:{linhaM['TotalPayBenefits']}")
#salário negativo, provavelmente cadastrado ou lido errado, ou devendo dias

Empregado:Joe Lopez | Salário:-618.13

** Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)? **

In [33]:
por_ano = sal[sal['Year'].between(2011, 2014)]

media_por_ano = por_ano.groupby('Year')['BasePay'].mean()

print("Média de BasePay por ano (2011-2014):")
print(media_por_ano)

Média de BasePay por ano (2011-2014):
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** Quantos títulos de trabalho únicos existem? **

In [32]:
unicos = sal['JobTitle'].nunique()
print(unicos)

2159

** Quais são os 5 principais empregos mais comuns? **

In [23]:
emprego = sal['JobTitle'].value_counts()
top5 = emprego.head()

print("Os 5 títulos de trabalho mais comuns são:")
for index, count in top5.items():
    print(f"- {index}: {count}")

Os 5 títulos de trabalho mais comuns são:
- Transit Operator: 7036
- Special Nurse: 4389
- Registered Nurse: 3736
- Public Svc Aide-Public Works: 2518
- Police Officer 3: 2421

** Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?) **

In [37]:
dados = sal[sal['Year'] == 2013]
unicos = dados['JobTitle'].value_counts()[lambda x: x == 1]

num_unicos = len(unicos)
print(num_unicos)

202

** Quantas pessoas têm a palavra Chefe em seu cargo?**

In [41]:
filtro = (sal['JobTitle'].str.contains('Chief', case=False, na=False,))
print(sal[filtro].shape[0])

627

**Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário? **

In [45]:
tam = sal['JobTitle'].str.len()

correlation = tam.corr(sal['TotalPayBenefits'])

print("Correlação entre o comprimento do título e o salário:", correlation)
# não

Correlação entre o comprimento do título e o salário: -0.03687844593260708